<!doctype html>
<html>
  <body>
    <h2>Purchase Order {{ po.po_number }}</h2>
    <p>Hello {{ po.supplier.name }},</p>
    <p>Please find the purchase order details below.</p>
    <p>PO Print link: /po/{{ po.id }}/print/</p>

    <h3>Lines</h3>
    <table border="1" cellpadding="6" cellspacing="0">
      <tr>
        <th>SKU</th><th>Description</th><th>Qty</th><th>Unit Cost</th>
      </tr>
      {% for line in po.lines.all %}
      <tr>
        <td>{{ line.product.sku }}</td>
        <td>{{ line.product.name }}</td>
        <td>{{ line.ordered_qty }}</td>
        <td>{{ line.unit_cost }}</td>
      </tr>
      {% endfor %}
    </table>

    <p>Regards,<br>{{ tenant.name }}</p>
  </body>
</html>
